%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookie
    - if (@oven.cookie.fillings == "")
      1 cookie with #{"no fillings"}
    - else
      1 cookie with #{@oven.cookie.fillings}
    - if @oven.cookie.ready?(@oven.cookie)
      (Your Cookie is Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
    - else 
      %br Cookie will be ready in about #{@oven.cookie.time_left(@oven.cookie)} minutes
      %meta{:content => "#{@oven.cookie.time_left(@oven.cookie)*60}", "http-equiv" => "refresh"}


  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
