%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookies.to_a.length > 0
    - if (@oven.cookies.to_a[0].fillings == "")
      #{@oven.cookies.to_a.length} cookies with #{"no fillings"}
    - else
      #{@oven.cookies.to_a.length} cookies with #{@oven.cookies.to_a[0].fillings}
    - if @oven.cookies.to_a[0].ready?(@oven.cookies.to_a[0])
      (Your Cookies are Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
    - else 
      %br Cookie will be ready in about #{@oven.cookies.to_a[0].time_left(@oven.cookies.to_a[0])} minutes
      %meta{:content => "#{@oven.cookies.to_a[0].time_left(@oven.cookies.to_a[0])*60}", "http-equiv" => "refresh"}


  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
